services:
  nginx:
    build:
      context: .              # корень проекта
      dockerfile: nginx/Dockerfile
    ports:
      - 80:80
    networks:
      - internal
    depends_on:
      - backend

  backend:
    build:
      context: ./backend      # папка backend
      dockerfile: ../Dockerfile.backend
    env_file:
      - backend/.env
    ports:
      - 3000:3000
    networks:
      - internal
    depends_on:
      - mongo
    volumes:
      - ./backend:/app
      - /app/node_modules
    command: npm run dev
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true

  mongo:
    image: mongo
    ports:
      - 27018:27017
    networks:
      - internal
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - mongo_data:/data/db

networks:
  internal:
volumes:
  mongo_data:
