services:
  frontend:
    build:
      context: .
      target: server  # nginx с фронтом
    ports:
      - 80:80
    networks:
      - internal
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
    ports:
      - 3000:3000
    networks:
      - internal
    depends_on:
      - mongo
    volumes:
      - ./backend:/app
      - /app/node_modules
    command: npm run dev
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true

  mongo:
    image: mongo:6
    ports:
      - 27017:27017
    networks:
      - internal
    volumes:
      - mongo_data:/data/db

networks:
  internal:
volumes:
  mongo_data:
