services:
  frontend:
    build: ./frontend
    image: frontend
  server:
    build: ./server
    ports:
      - "80:80"
    depends_on:
      - backend
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
  mongo:
    image: mongo:6
    ports:
      - "27017:27017"

volumes:
  mongo_data:
